body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $text-color;
  padding: 2rem;
}

.section-about {
  background-color: $between-section-color;
  padding: 20vh 0;
  margin-top: -20vh;
}

.section-features {
  padding: 15vh 0;
  background-image: linear-gradient(to right bottom, rgba($header-gradient-from, 0.8), rgba($header-gradient-to, 0.8)),
  url(../img/room.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -9vh;

  & > * {
    transform: skewY(5deg);
  }
}
