// COLOR
$header-gradient-from: #EA97C5;
$header-gradient-to: #B93224;
$text-color: #777;
$typing-text-color: #ffbae3;
$heading-primary-color: #f9d1fd;
$btn-purple-color: #c367d4;
$row-color: #eee;
$cell-color: #a8bde6;
$context-menu-background-color: floralwhite;
$between-section-color: #93ec6185;
$heading-secondary-color-from: #a5b6d7;
$heading-secondary-color-to: #ff6973e3;

// SIZE
$grid-width: 54rem;
$gutter-vertical: 89px;
$gutter-horizontal: 6rem;
$context-menu-arrow-size: 10px;
$context-menu-arrow-top: 12px;
