.feature-box {
  background-color: $feature-box-color;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 30px $feature-box-shadow-color;
  font-size: 1.2vw;
  transition: .3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-1.5vh) scale(1.05);
  }

  &__icon {
    font-size: 4vw;
    padding-top: 20px;
    background-image: linear-gradient(to right, $heading-secondary-color-from, $heading-secondary-color-to);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {

  }
}