.heading-secondary {
  font-size: 5vw;
  font-family: cursive;
  letter-spacing: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $heading-secondary-color-from, $heading-secondary-color-to);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
  margin: 0;
  transition-duration: .2s;

  &:hover {
    transform: skewY(3deg) skewX(15deg) scaleX(1.1);
    text-shadow: 0.5vw 1vw 2vw rgba(black, .4);
  }
}