.typing-text {
  margin-top: 7px;
  color: $typing-text-color;
  font-size: 17px;
  font-family: "monospace";
  text-transform: lowercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &__word {
    display: inline-block;
    transform-origin: 0 100%;
    animation-name: print-word;
    animation-duration: 1s;
    animation-fill-mode: backwards;

    @mixin addDelayToChild($child:1) {
      &:nth-child(#{$child}) {
        animation-delay: ($child - 1) * 1s;
      }
    }
    @include addDelayToChild(2);
    @include addDelayToChild(3);
    @include addDelayToChild(4);
  }
}